.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImgStyle img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 10px solid #ffffff;
  box-shadow: 0 0 15px #000000
}

.ImgContainer {
  width: 100vw;
  margin-top: 50px;
  text-align: center;
}

html, body {
  padding: 0;
  height: 100%;
  margin: 0;
  opacity: 1;
  background-color: white;
  background-image: radial-gradient(#80bfff 1px, white 0.5px);
  background-size: 15px 15px;
}

.TextNameStyle {
  font-family: cursive;
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.NameBox {
  width: 450px;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 5px 5px black;
  border-radius: 20px;
  box-shadow: 5px 5px black;
  border: 3px solid black;
}

.NameContainer {
  margin-top: 40px;
  text-align: center;
}

.ContainerDetailText {
  margin-top: 50px;
}

.DetailText {
  font-family: cursive;
  color: black;
  padding-left: 60px;
  padding-top: 10px;
  font-size: 15px;
}

div p{
  font-family: cursive;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  color: black;
}

.DetailBox {
  width: 600px;
  height: 370px;
  background-color: #ffffff;
  box-shadow: 5px 5px black;
  border-radius: 20px;
  box-shadow: 5px 5px black;
  border: 2px solid black;
}

.DetailLine{
  border-right: 3px solid black;
  height: 300px;
  margin-top: 40px;
  padding-left: 50px;
}

.DetailRow {
  display: flex;
}

.ContentTextStyle {
  font-family: cursive;
  font-size: 100px;
  color: black;
  margin-bottom: 20px;
  text-shadow: 5px 5px #80bfff;
}

.MottoTextStyle {
  font-family: cursive;
  font-size: 40px;
  color: black;
  margin-bottom: 20px;
  margin-top: 120px;
  margin-left: 20px;
  text-shadow: 2px 2px #80bfff;
}