element.style {
    border-color: black !important;
    stroke: white !important;
    stroke-width: 2 !important;


}
.line-chart{
    text-align: center;
    align-items: center;
}
/* .Box-button{
    
} */


@media screen  and (min-width: 1037) {
    .line-chart{
       width: 70%;
       height: 50px;

    }
}
