
@media only screen and (min-width: 600px) {
  .outside:hover {
    background-color: rgb(188, 202, 206);
    font-size: 50vw;
  }

  .App:hover {
    background-color: rgb(188, 202, 206);
    font-size: 50vw;
  }
}



