@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');

.My-header {
  height: 100vh;
  font-family: 'Mitr', sans-serif;
  width: 70%;
  margin-top: 20px;
} 
.My-img {

  height: 300px;
  background-color: black;
  padding: 8px;
  border: 10px solid red;
  border-radius: 20px;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.My-img img{
  height: 100px;
  width: 100px;
  border: 5px solid white;
  border-radius: 50%;
  margin-bottom: 20px;
}

.name {
  color: white;
}

.my-data {
  height: 350px;
  background-color: antiquewhite;
  border: 5px solid red;
  border-radius: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 1em;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  


}
.my-data-text {
  display: flex;
  width: 100%;
  font-size: 30px;
  box-shadow: 0 0 10px 2px rgb(0,0,0,0.1);
  border-radius: 20px;
  padding: 20px 0;
}

.my-data-text .grid-top,
.my-data-text .grid-bottom {
  width: 100%;
  padding: 0 50px;

}

.my-data-text .grid-top li,
.my-data-text .grid-bottom li {
  list-style-position: inside;
  text-indent: 2em;
  color: #3d3c3cdf;
}

.grid-top {
  /* background-color: aqua; */
  border-right: 10px solid black;
}

@media only screen and (max-width:500px) {
  .my-data-text {
    flex-direction: column;
    font-size: 15px;
  }

  .grid-top {
    border-right: 0;
    border-bottom: 5px solid black;
  }

  .my-data {
    padding: 0 10px;
  
  }
  .name {
    font-size: 20px;
  }
}