*{
    margin: 0;
    padding: 0;
    color: black;
}
nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
li,span,a{
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
}
span{
    transition:all 0.3s ease;
}
li{
    display: inline-block;
    padding: 0px 20px;
}
.link{
    list-style: none;
}
.theme,.header{
    cursor: pointer;
}