@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Prompt', sans-serif;
}