@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #333;
  text-align: center;
}
img {
  width: 100%;
  max-width: 900px;
}
body {
  font-family: "Kanit", sans-serif;
}
