body {
  background: rgb(230, 230, 230);
}
.photo {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 10px;
  min-width: 300px;
}
.png {
  border: 0px solid black;
  width: 100%;
  position: relative;
  top: -40px;
  left: 10px;
}
.content {
  background-color: white;
  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  top: -50px;
  width: 90%;
  height: auto;
}
.logo {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  top: -27px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  display: block;
  width: 150%;
  margin: -3px 0px 0px -14.5px;
}
hr {
  width: 90%;
  position: relative;
  top: -20;
}
.card {
  background-color: white;
  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  top: -30px;
  height: auto;
  width: 100%;
}
.headcard {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.booking {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  top: -30px;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-between;
}
.incard1 {
  background-color: green;
  height: 1.5rem;
  width: 3rem;
  border-radius: 5px;
  color: white;
  margin: 10px;
}
.incard2 {
  background-color: orange;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  color: white;
  margin: 10px;
}
.BoxCard {
  width: calc(90% + 8px);
}
